@import '../style/variables.scss';

.AboutPage {
   margin: $base-margin 0;
   height: 100%;
   text-align: center;

   .AboutPage__text {
      margin: $base-margin/2 0;
      background-color: $red;
      padding: $base-padding;
      text-align: left;

      .AboutPage__name {
         font-weight: bold;
      }
   }
}
