@import './style/variables.scss';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Arial', sans-serif;
}

.App {
   margin: 0 auto;
   width: 800px;

      .App__nav {
         background-color: $green;
         display: flex;
         justify-content: space-between;
         align-items: center;

         .App__menu {
            list-style-type: none;
            display: flex;
         }
      }
}
